# The following cannot be checked in
conf/private/private_vault.yaml
outputs/
scrutinycspm.egg-info/

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info


# Excluding terraform.tfvars file to avoid checking in secrets
terraform.tfvars

# Virtual env folders
.venv
venv/
ENV/
scrutiny_env/
.scrutiny_env
# Don't commit your private config files
config/private/

# Virtual env bytecode
*.pyc

# Virtual env packages
.venv/lib/python*/site-packages/

# Virtual env lock files
pip-selfcheck.json

# Cache dirs for packages
.virtualenv/
pip-wheel-metadata/

# Log files
*.log

# IDE configuration files
/src/scrutinycspm/iam/.idea/

cspm
docs/_build
